<br/><br/>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">Snag Code Assignment</h1>
        <p class="lead">
          Hiring manager tool
          <br/>
          <small>By Peter Lee</small>
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/applications/application']">Apply</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/hiring']">Hiring Manager</a>
      </div>
    </div>
  </div>
</div>
